@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #22c55e;
  --color-secondary: #000000;
  --color-tertiary: #ef4444;
}

@layer base {
  body {
    @apply font-sans bg-white text-secondary;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}
